In [2]:
#import Library
import pandas as pd

In [11]:
#Load DataSet
df = pd.read_csv('3098329-data (1)/cars.csv') 
df

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
0,Chevrolet Chevelle Malibu,18.0,8.0,307.0,130.0,3504,12.0,70,US
1,Buick Skylark 320,15.0,8.0,350.0,165.0,3693,11.5,70,US
2,Plymouth Satellite,18.0,8.0,318.0,150.0,3436,NaN,70,US
3,AMC Rebel SST,16.0,8.0,304.0,150.0,3433,12.0,70,US
4,Ford Torino,17.0,8.0,302.0,140.0,3449,10.5,70,US
...,...,...,...,...,...,...,...,...,...
401,Ford Mustang GL,27.0,4.0,140.0,86.0,2790,15.6,82,US
402,Volkswagen Pickup,44.0,4.0,97.0,52.0,2130,24.6,82,Europe
403,Dodge Rampage,32.0,4.0,135.0,84.0,2295,11.6,82,US
404,Ford Ranger,28.0,4.0,120.0,79.0,2625,18.6,82,US
405,Chevy S-10,31.0,4.0,119.0,82.0,2720,19.4,82,US

In [13]:
#Applying Conditions on Series
df['Weight'] > 3500

0       True
1       True
2      False
3      False
4      False
       ...
401    False
402    False
403    False
404    False
405    False
Name: Weight, Length: 406, dtype: bool

In [14]:
#Filterng Rows Based on Conditions
#Filtering rows based on condition
df.loc[df['Weight'] > 3500]

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
0,Chevrolet Chevelle Malibu,18.0,8.0,307.0,130.0,3504,12.0,70,US
1,Buick Skylark 320,15.0,8.0,350.0,165.0,3693,11.5,70,US
5,Ford Galaxie 500,15.0,8.0,429.0,198.0,4341,10.0,70,US
6,Chevrolet Impala,14.0,8.0,454.0,220.0,4354,9.0,70,US
7,Plymouth Fury iii,14.0,NaN,440.0,215.0,4312,8.5,70,US
...,...,...,...,...,...,...,...,...,...
298,Chevrolet Malibu Classic (sw),19.2,8.0,267.0,125.0,3605,15.0,79,US
299,Chrysler Lebaron Town @ Country (sw),18.5,8.0,360.0,150.0,3940,13.0,79,US
304,Mercedes Benz 300d,25.4,5.0,183.0,77.0,3530,20.1,79,Europe
305,Cadillac Eldorado,23.0,8.0,350.0,125.0,3900,17.4,79,US
372,Oldsmobile Cutlass LS,26.6,8.0,350.0,105.0,3725,19.0,81,US

In [15]:
#Filtering Rows Using String Values
df.loc[df['Origin'] == 'US']

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
0,Chevrolet Chevelle Malibu,18.0,8.0,307.0,130.0,3504,12.0,70,US
1,Buick Skylark 320,15.0,8.0,350.0,165.0,3693,11.5,70,US
2,Plymouth Satellite,18.0,8.0,318.0,150.0,3436,NaN,70,US
3,AMC Rebel SST,16.0,8.0,304.0,150.0,3433,12.0,70,US
4,Ford Torino,17.0,8.0,302.0,140.0,3449,10.5,70,US
...,...,...,...,...,...,...,...,...,...
400,Chevrolet Camaro,27.0,4.0,151.0,90.0,2950,17.3,82,US
401,Ford Mustang GL,27.0,4.0,140.0,86.0,2790,15.6,82,US
403,Dodge Rampage,32.0,4.0,135.0,84.0,2295,11.6,82,US
404,Ford Ranger,28.0,4.0,120.0,79.0,2625,18.6,82,US
405,Chevy S-10,31.0,4.0,119.0,82.0,2720,19.4,82,US