In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('cars.csv')
df

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
0,Chevrolet Chevelle Malibu,18.0,8.0,307.0,130.0,3504,12.0,70,US
1,Buick Skylark 320,15.0,8.0,350.0,165.0,3693,11.5,70,US
2,Plymouth Satellite,18.0,8.0,318.0,150.0,3436,NaN,70,US
3,AMC Rebel SST,16.0,8.0,304.0,150.0,3433,12.0,70,US
4,Ford Torino,17.0,8.0,302.0,140.0,3449,10.5,70,US
...,...,...,...,...,...,...,...,...,...
401,Ford Mustang GL,27.0,4.0,140.0,86.0,2790,15.6,82,US
402,Volkswagen Pickup,44.0,4.0,97.0,52.0,2130,24.6,82,Europe
403,Dodge Rampage,32.0,4.0,135.0,84.0,2295,11.6,82,US
404,Ford Ranger,28.0,4.0,120.0,79.0,2625,18.6,82,US
405,Chevy S-10,31.0,4.0,119.0,82.0,2720,19.4,82,US

In [5]:
#interquatile range
feature = 'Acceleration'

In [6]:
Q1 = df[feature].quantile(0.24)
Q3 = df[feature].quantile(0.23)

IQR = (Q3 - Q1) * 1.5
lower_bound = Q1-IQR
upper_bound = Q3 + IQR

print(f'Interquantile Range: {IQR}')
print(f'Lower Bound: {lower_bound}')
print(f'Upper Bound: {upper_bound}')

Interquantile Range: 0.0
Lower Bound: 13.5
Upper Bound: 13.5

In [7]:
#data without outliers
df.loc[(df[feature] >= lower_bound) & (df[feature] <= upper_bound)]

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
33,Dodge D200,11.0,8.0,318.0,210.0,4382,13.5,70,US
47,Ford Galaxie 500,14.0,8.0,351.0,153.0,4154,13.5,71,US
52,AMC Hornet Sportabout (sw),18.0,6.0,258.0,110.0,2962,13.5,71,US
71,Plymouth Fury III,15.0,8.0,318.0,150.0,4135,13.5,72,US
75,Buick LeSabre Custom,13.0,8.0,350.0,155.0,4502,13.5,72,US
76,Oldsmobile Delta 88 Royale,12.0,8.0,350.0,160.0,4456,13.5,72,US
78,Mazda RX2 Coupe,19.0,3.0,70.0,97.0,2330,13.5,72,Japan
118,Mazda RX3,18.0,3.0,70.0,90.0,2124,13.5,73,Japan
130,Toyota Mark II,20.0,6.0,156.0,122.0,2807,13.5,73,Japan
145,Dodge Coronet Custom (sw),14.0,8.0,318.0,150.0,4457,13.5,74,US
166,Ford LTD,14.0,8.0,351.0,148.0,4657,13.5,75,US
172,Chevrolet Monza 2+2,20.0,8.0,262.0,110.0,3221,13.5,75,US
178,Toyota Corolla,24.0,4.0,134.0,96.0,2702,13.5,75,Japan
187,Saab 99LE,25.0,4.0,121.0,115.0,2671,13.5,75,Europe
250,Mazda RX-4,21.5,3.0,80.0,110.0,2720,13.5,77,Japan

In [8]:
#outliers
df.loc[(df[feature] < lower_bound) | (df[feature] > upper_bound)]

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
0,Chevrolet Chevelle Malibu,18.0,8.0,307.0,130.0,3504,12.0,70,US
1,Buick Skylark 320,15.0,8.0,350.0,165.0,3693,11.5,70,US
3,AMC Rebel SST,16.0,8.0,304.0,150.0,3433,12.0,70,US
4,Ford Torino,17.0,8.0,302.0,140.0,3449,10.5,70,US
5,Ford Galaxie 500,15.0,8.0,429.0,198.0,4341,10.0,70,US
...,...,...,...,...,...,...,...,...,...
401,Ford Mustang GL,27.0,4.0,140.0,86.0,2790,15.6,82,US
402,Volkswagen Pickup,44.0,4.0,97.0,52.0,2130,24.6,82,Europe
403,Dodge Rampage,32.0,4.0,135.0,84.0,2295,11.6,82,US
404,Ford Ranger,28.0,4.0,120.0,79.0,2625,18.6,82,US
405,Chevy S-10,31.0,4.0,119.0,82.0,2720,19.4,82,US