In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('cars.csv')
df.head()

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
0,Chevrolet Chevelle Malibu,18.0,8.0,307.0,130.0,3504,12.0,70,US
1,Buick Skylark 320,15.0,8.0,350.0,165.0,3693,11.5,70,US
2,Plymouth Satellite,18.0,8.0,318.0,150.0,3436,NaN,70,US
3,AMC Rebel SST,16.0,8.0,304.0,150.0,3433,12.0,70,US
4,Ford Torino,17.0,8.0,302.0,140.0,3449,10.5,70,US

In [3]:
#undersampling
df.sample(n = 100)

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
124,Fiat 128,29.0,4.0,68.0,49.0,1867,19.5,73,Europe
256,Oldsmobile Cutlass Salon Brougham,19.9,8.0,260.0,110.0,3365,15.5,78,US
299,Chrysler Lebaron Town @ Country (sw),18.5,8.0,360.0,150.0,3940,13.0,79,US
168,Chevrolete Chevelle Malibu,16.0,6.0,250.0,105.0,3897,18.5,75,US
188,Honda Civic CVCC,33.0,4.0,91.0,53.0,1795,17.5,75,Japan
...,...,...,...,...,...,...,...,...,...
119,Ford Pinto,19.0,4.0,122.0,85.0,2310,18.5,73,US
71,Plymouth Fury III,15.0,8.0,318.0,150.0,4135,13.5,72,US
356,Mazda GLC 4,34.1,4.0,91.0,68.0,1985,16.0,81,Japan
186,Volvo 244DL,22.0,4.0,121.0,98.0,2945,14.5,75,Europe
103,AMC Ambassador Brougham,13.0,8.0,360.0,175.0,3821,11.0,73,US

In [4]:
#sampling by fraction
df.sample(frac = 0.3)

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
227,Datsun F-10 Hatchback,33.5,4.0,85.0,70.0,1945,16.8,77,Japan
208,Pontiac Ventura SJ,18.5,6.0,250.0,110.0,3645,16.2,76,US
313,Chevrolet Citation,28.8,6.0,173.0,115.0,2595,11.3,79,US
233,Buick Skylark,20.5,6.0,231.0,105.0,3425,16.9,77,US
111,Ford Country,12.0,8.0,400.0,167.0,4906,12.5,73,US
...,...,...,...,...,...,...,...,...,...
138,Toyota Corolla 1200,32.0,4.0,71.0,65.0,1836,21.0,74,Japan
241,Pontiac Sunbird Coupe,24.5,4.0,151.0,88.0,2740,16.0,77,US
22,AMC Hornet,18.0,6.0,199.0,NaN,2774,15.5,70,US
364,Datsun 200SX,32.9,4.0,119.0,100.0,2615,14.8,81,Japan
268,AMC Concord d/l,18.1,6.0,258.0,120.0,3410,15.1,78,US

In [5]:
#oversampling
df.sample(n = 1000, replace=True)

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
154,Fiat 128,24.0,4.0,90.0,75.0,2108,15.5,74,Europe
221,Ford F108,13.0,8.0,302.0,130.0,3870,15.0,76,US
23,Ford Maverick,21.0,6.0,200.0,85.0,2587,16.0,70,US
328,Toyota Corolla,32.2,4.0,108.0,75.0,2265,15.2,80,Japan
156,Honda Civic,24.0,4.0,120.0,97.0,2489,15.0,74,Japan
...,...,...,...,...,...,...,...,...,...
185,Peugeot 504,23.0,4.0,120.0,88.0,2957,17.0,75,Europe
402,Volkswagen Pickup,44.0,4.0,97.0,52.0,2130,24.6,82,Europe
225,Renault 5 GTL,36.0,4.0,79.0,58.0,1825,18.6,77,Europe
26,Peugeot 504,25.0,4.0,110.0,87.0,2672,17.5,70,Europe
314,Oldsmobile Omega Brougham,26.8,6.0,173.0,115.0,2700,12.9,79,US